/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #1e90ff, #00bfff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container do formulário */
.login-container {
  background-color: #ffffff;
  padding: 30px 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}


.logo {
  width: 100%;
  max-width: 400px; /* ou o tamanho máximo desejado */
  height: auto;
  display: block;
  margin: 0 auto 20px auto; /* centraliza e separa do título */
}




/* Título do formulário */
.login-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333333;
}

/* Estilo dos campos de entrada */
.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0 20px 0;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Botão de login */
.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #1e90ff;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #1c86ee;
}

/* Link de cadastro */
.login-container .register-link {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #1e90ff;
  text-decoration: none;
  font-size: 14px;
}

.login-container .register-link:hover {
  text-decoration: underline;
}
